{% include "header.html" %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Admin</h1>
    </div>

    <h2>Bières</h2>
    <div class="m-2"><a class="btn btn-primary" href="{{ url_for('admin_add_beer_page') }}" role="button">Ajouter une bière</a></div>
    <div class="m-2"><a class="btn btn-warning" href="{{ url_for('admin_edit_beer_page') }}" role="button">Modifier une bière</a></div>
    <div class="m-2"><a class="btn btn-danger" href="{{ url_for('admin_delete_beer_page') }}" role="button">Supprimer une bière</a></div>

    <hr>

    <h2>Fiches de dégustation</h2>
    <div class="m-2"><a class="btn btn-warning" href="{{ url_for('admin_edit_review_page') }}" role="button">Modifier une fiche</a></div>
    <div class="m-2"><a class="btn btn-danger" href="{{ url_for('admin_delete_review_page') }}" role="button">Supprimer une fiche</a></div>

</div>
<!-- /.container-fluid -->

{% include "footer.html" %}