{% include "header.html" %}

<div class="container">

{% include "navbar.html" %}

    <!-- Title -->
    <div>
      <div class="bg-light py-5 px-2 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Admin</h1>

            <hr>

            <h2>Liste des fiches de dégustation</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><div class="rotate">Utilisateur</div></th>
                        <th><div class="rotate">Bière</div></th>
                        <th><div class="rotate">Version</div></th>
                        <th><div class="rotate">Mousse</div></th>
                        <th><div class="rotate">Couleur</div></th>
                        <th><div class="rotate">Opacite</div></th>
                        <th><div class="rotate">Douceur</div></th>
                        <th><div class="rotate">Amertume</div></th>
                        <th><div class="rotate">Acidité</div></th>
                        <th><div class="rotate">Gushing</div></th>
                        <th><div class="rotate">Alcoolique</div></th>
                        <th><div class="rotate">Ethéré</div></th>
                        <th><div class="rotate">Fruité</div></th>
                        <th><div class="rotate">Floral</div></th>
                        <th><div class="rotate">Houblonné</div></th>
                        <th><div class="rotate">Résineux</div></th>
                        <th><div class="rotate">Noix</div></th>
                        <th><div class="rotate">Herbeux</div></th>
                        <th><div class="rotate">Caramel</div></th>
                        <th><div class="rotate">Brulé</div></th>
                        <th><div class="rotate">Note</div></th>
                        <th><div class="rotate">Modifier</div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                    <tr>
                        <td class="align-middle">{{ review.review_author.name }}</td>
                        <td class="align-middle">{{ review.reviews_beer.name }}</td>
                        <td class="align-middle">{{ review.reviews_beer.version }}</td>
                        <td class="align-middle">{{ review.mousse }}</td>
                        <td class="align-middle">{{ review.couleur }}</td>
                        <td class="align-middle">{{ review.opacite }}</td>
                        <td class="align-middle">{{ review.douceur }}</td>
                        <td class="align-middle">{{ review.amertume }}</td>
                        <td class="align-middle">{{ review.acidite }}</td>
                        <td class="align-middle">{{ review.gushing }}</td>
                        <td class="align-middle">{{ review.alcoolique }}</td>
                        <td class="align-middle">{{ review.ethere }}</td>
                        <td class="align-middle">{{ review.fruite }}</td>
                        <td class="align-middle">{{ review.floral }}</td>
                        <td class="align-middle">{{ review.houblonne }}</td>
                        <td class="align-middle">{{ review.resineux }}</td>
                        <td class="align-middle">{{ review.noix }}</td>
                        <td class="align-middle">{{ review.herbeux }}</td>
                        <td class="align-middle">{{ review.cereales }}</td>
                        <td class="align-middle">{{ review.caramel }}</td>
                        <td class="align-middle">{{ review.score }}</td>
                        <td class="align-middle">
                            <a href="{{ url_for('review_edit_fetch', review_id=review.id) }}" class="btn btn-primary btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>

            <a class="btn btn-primary" href="{{ url_for('admin') }}" role="button">Retour à Admin</a>

        </div>
      </div>
    </div>





  </div>

{% include "footer.html" %}