{% include "header.html" %}

<div class="container">

{% include "navbar.html" %}

    <!-- Title -->
    <div>
      <div class="bg-light py-5 px-2 rounded">
        <div class="col-sm-8 mx-auto">
          <h1 class="mb-3">Bienvenue!</h1>

            <p><strong>Les Tontons Brasseurs</strong> est une micro-brasserie artisanale et familiale située à
                Montigny-le-Tilleul dans le Hainaut.</p>

            <p>Tout a commencé lorsque tonton Gris et tonton Nico ont commencé à brasser de la bière
                dans la cuisine de leur grand-mère, avec l’aide occasionnelle de tonton Denis.<br/>
                De fil en aiguille la micro-brasserie s’est développée mais la motivation de base reste la même :
                le plaisir de déguster une bière en famille.</p>

            <a class="btn btn-primary btn-lg" href="{{ url_for('beers', sort='note') }}">Voir les bières!</a>

            <h5 class="mt-3">Les tontons et tatis :</h5>
            <ul>
                <li><em><u>Tonton Gris</u></em> : maître brasseur et gérant</li>
                <li><em><u>Tonton Nico</u></em> : maître brasseur</li>
                <li><em><u>Tonton Denis</u></em> : assistant brasseur et webmaster</li>
                <li><em><u>Tata Nana et Tati Vani</u></em> : assistantes brasseuses</li>
            </ul>

        </div>
      </div>
    </div>





  </div>

{% include "footer.html" %}