{% import "bootstrap/form.html" as wtf %}

{% include "header.html" %}

<div class="container">

{% include "navbar.html" %}

    <!-- Login block -->
    <div>
      <div class="bg-light py-5 px-2 rounded">
        <div class="col-sm-8 mx-auto">
          <h1 class="mb-3">S'identifier</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash-mess">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {{ wtf.render_form(form, novalidate=True, button_map={"submit": "primary"}) }}

            <div class="text-center">
                <a class="small" href="{{ url_for('forgot_password', form=form) }}">Mot de passe oublié?</a>
            </div>
        </div>


      </div>
    </div>





  </div>

{% include "footer.html" %}