{% import "bootstrap/form.html" as wtf %}

{% include "head.html" %}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Créez un compte!</h1>
                            </div>

                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p>{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                            {{ wtf.render_form(form, novalidate=True, button_map={"submit": "primary"}) }}

                            <hr>
                            <div class="text-center">
                                <a class="small" href="#">Mot de passe oublié?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="#">Déjà un compte? Connectez-vous!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% include "scripts.html" %}

</body>

</html>